<style>
    .client {}

    .client .owner {

    }
</style>

{{#each clients}}
    <div class="client">
        <h3>{{ this.name }}</h3>
        <div class="owner">
            <label>Owner</label>
            <div>{{ this.owner.name }}</div>
            <div>{{ this.owner.email }}</div>
        </div>
        <div class="client_id">{{ this._id }}</div>
    </div>
{{/each}}
