<title>openSN Client Registration</title>
<br>
<br>
<br>
<h2>openSN Client Registration</h2>
<br>
<form action="/clients/register" method="post">
    <input name="client_name" type="text" placeholder="Client Name" required>
    <br>
    <input name="owner_username" type="username" placeholder="Owner Userame" required>
    <br>
    <input name="owner_email" type="email" placeholder="Owner Email" required>
    <br>
    <input name="owner_name" type="text" placeholder="Owner Name">
    <br>
    <br>
    <button type="submit">Register</button>
</form>
