<title>Signup for openSN</title>
<br>
<br>
<br>
<h2>Signup for openSN</h2>
<br>
<form action="/signup" method="post">
    <input name="username" type="text" placeholder="Username" required>
    <br>
    <input name="fullname" type="text" placeholder="Fullname" required>
    <br>
    <input name="email" type="email" placeholder="Email" required>
    <br>
    <input name="password" type="password" placeholder="Password" required>
    <br>
    <br>
    <button type="submit">Signup</button>
</form>
